.button {
    background-image: url(../../icons/scissors.svg);
    background-color: var(--primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 46px;
    border: none;
    cursor: pointer;
}
.button:focus,
.button:hover {
    outline: 2px solid var(--light);
    outline-offset: -2px;
}

.button_close {
    background-image: url(../../icons/cross.svg);
}