.message-box {
    padding: 12px;
    color: var(--disable);
    background: var(--grey);
    transition: .2s opacity ease;
}
.message-box::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 12px;
    width: 16px;
    height: 10px;
    background: var(--grey);
    clip-path: polygon(0 100%,50% 0,100% 100%);
}
.message-box_disable {
    opacity: 0;
}