.buffer {
    padding: 12px;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: 600;
    transition: 0.175s background ease-in-out;
    opacity: .84;
    cursor: pointer;
}

.buffer:focus,
.buffer:hover {
    outline: none;
    background: var(--grey)
}

.buffer:active {
    background: var(--primary);
    color: var(--white);
}