.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.title {
    text-align: center;
}

.shortify {
    display: flex;
    position: relative;
}
.main {
    max-width: 648px;
    width: 100%;
}
.message-box {
    position: absolute;
    bottom: -66px;
}
.buffer-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: -64px;
    width: 100%;
}