@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

:root {
  /* background */
  --white: #FFFFFF;
  --grey: #F2F2F2;
  --dark-grey: #E5E5E5;
  /* text */
  --main: #333333;
  --add: #808080;
  --disable: #A0A0A0;
  /* accent */
  --primary: #673ab7;
  --light: #9a67ea;
  --dark: #320b86;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--main);
  background: var(--dark-grey);

  line-height: 18px;
}

::selection {
    background: var(--light);
}
